<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastrar Animal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/cadastro-pet.css'>
    <script src='../js/cadastro-animal.js'></script>
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <h1>🐾 Adote AUmor</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Início</a></li>
                <li><a href="">Animais para adoção</a></li>
                <li><a href="">Como ajudar</a></li>
                <li><a href="">Sobre nós</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo -->
    <section>
        <div class="form-container">
            <h2>Cadastrar Pet</h2>
            <form>

                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" name="nome">
                </div>

                <div class="form-group">
                    <label>Espécie:</label>
                    <input type="text" name="especie">
                </div>

                <div class="form-group">
                    <label>Localização:</label>
                    <input type="text" name="localizacao">
                </div>

                <div class="form-group">
                    <label>Idade:</label>
                    <input type="text" name="idade">
                </div>

                <div class="form-group" style="text-align: center;">
                    <button type="submit" onclick="cadastrarPet()">Cadastrar</button>
                </div>
            </form>
        </div>
    </section>

    <!-- Rodapé -->
    <footer>
        <div>
            <h4>🐾 Equipe de desenvolvimento</h4>
            <ul>
                <li><a>Lucas</a></li>
                <li><a>Pedro</a></li>
                <li><a>Thainá</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>