/* Config */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF8F0;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #FFF;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

header h1 {
    color: #FF8C42
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #5C6BC0;
    font-weight: bold;
}

nav a:hover {
  color: #FF8C42;
}

/* Seções */
section {
  padding: 60px 20px;
}

/* Rodapé */
footer {
    background-color: #eee;
    text-align: left;
    padding: 20px 80px;
    margin-top: 40px;
    color: #666;
}

footer h4 {
    color: #333;
}

footer ul {
    list-style: none;
}

footer li {
    margin-top: 10px;
}